body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.search-container input {
    width: 584px;
    height: 44px;
    padding: 0 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
}

.search-container input:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.shortcuts {
    display: flex;
    gap: 38px;
    margin-top: 30px;
}

.shortcut-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 48px;
    height: 48px;
    background-color: #f1f3f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.shortcut-item span{
    font-size: 12px;
    color: #3c4043;
}

header { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
}

header a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
}

header a:hover {
    text-decoration: underline;
}

.profile-icon {
    width: 32px;
    height: 32px;
    background-color: #bbb;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
}

.note {
    background-color: #ffffff;
    padding: 10px;
    font-size: 10px;
    color: #000000;
    display: flex;
}

.customize-btn {
    width: 200px;
    height: 40px;
    background-color: rgb(197, 197, 197);
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 6px 12px;
    font-size: 13px;
    color: #3c4043;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.customize-btn:hover {
    background-color: #949494;
}
